.myForm{
    width: 400px;
    margin: auto;
    border: 5px solid yellowgreen;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}
.Table{
    width: 70% !important;
    margin: auto;
    text-align: center;
    border: 6px solid greenyellow !important;
    box-shadow: 1px 1px 15px 8px black;
    
}
.div{
    margin: auto;
    text-align: center;
}